ErrorDocument 404 /Eclipse/Olacademy/Error/fileNotFound.php

IndexIgnore *
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase \forum\
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule ^(.*)$ index.php/$1
</IfModule>