ErrorDocument 404 /Error/filenotfound.php
ErrorDocument 403 /Error/filenotfound.php
ErrorDocument 402 /Error/filenotfound.php
ErrorDocument 401 /Error/filenotfound.php
ErrorDocument 400 /Error/filenotfound.php

Header add "disablevcache" "true"
