td
{
    border: 1px solid black;
	width:20%;
}
td span
{
     margin-left:2%;
}
#sidebar
{
	float:left;
	width:15%;
	margin-top:2%;
	background:#fff;
	padding:1%;
  	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
#sidebar ul
{
	padding-left:1%;
}
#sidebar li
{
	margin:1%;
	padding-left:1%;
	font-size:20px;
	list-style-type: none;
	color:#4799D1;
}
#sidebar li:hover
{
	background:#3c88c9;
	color:#000;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
#sidebar a
{
	text-decoration:none;
}
#content
{
	width:70%;
	float:left;
	margin-top:2%;
	margin-left:5%;
	background:white;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
#tableHead
{
	#text-align:center;
	padding-left:1%;
	color:#286090;
}
#infoHead
{
	text-align:center;
	color:#286090;
}
#tableContent
{
	padding:2%;
	margin:2%;
	width:96%;
}
.paging_div
{
	text-align:center;
	font-size:1.2em;
}
.dropdownPrivilege
{
	width:99%;
	
	font-family: Cursive;
    outline: none;
    cursor: pointer;
	-webkit-appearance: none;
   -moz-appearance: none;
}