
.admin_rowContent td
{
    padding:5px;
}
.admin_rowContent:nth-child(even)
{
    background-color: #e7e7f8;
}

.admin_rowHead th
{
	padding:1px;
	width:4%;
}

.admin_rowHead #thText
{
	padding:1px;
	width:12%;
}
.admin_rowHead a
{
	color: inherit;
}

/*Bug fix for event buttons not aligning*/
.admin_form_event input
{
	position: relative;
	bottom: 0.5px;
}
.admin_form_event a
{
	position: relative;
	bottom: 5px;
}
#searchResult
{
	margin-bottom:20px;
}
#sidebar
{
	float:left;
	width:15%;
	margin-top:2%;
	background:#fff;
	padding:1%;
  	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
#sidebar ul
{
	padding-left:1%;
}
#sidebar li
{
	margin:1%;
	padding-left:1%;
	font-size:20px;
	list-style-type: none;
	color:#4799D1;
}
#sidebar li:hover
{
	background:#3c88c9;
	color:#000;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
#sidebar a
{
	text-decoration:none;
}
#content
{
	width:70%;
	float:left;
	margin-top:2%;
	margin-left:5%;
	background:white;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
#tableHead
{
	padding-left:1%;
	color:#286090;
}

#infoHead
{
	text-align:center;
	color:#286090;
}
.tableContent
{
	padding:2%;
	margin:0px;
	width:100%;
}
.paging_div
{
	text-align:center;
	font-size:1.2em;
}
.dropdownPrivilege
{
	width:95%;
	padding-left: 5px;
    outline: none;
    cursor: pointer;
	-webkit-appearance: none;
    -moz-appearance: none;
}