@CHARSET "ISO-8859-1";

#calendar
{
	width: 100%;
	display: table;
	border-collapse: collapse;
}

.week_day
{
	display: table-cell;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}

.week
{
	display: table-row;
}

.day
{
	position: relative;
	display: table-cell;
	border: 1px solid #aaa;
	height: 100px;
	width: 10%;
	padding: 3px;
}

.day:hover
{
	background: #DBF5FC;
}

.prev_month_days
{
	border-top-color: #eee;
	border-left-color: #eee;
	border-right: 0;
}

.next_month_days
{
	border-bottom-color: #eee;
	border-right-color: #eee;
}

.event_p
{
	font-size:14px;
	margin:0px; padding:0px;
}

.eventAdd_btn
{
	position: absolute;
	bottom: 2px;
	right: 2px;
}

.switch_month
{
	margin: 10px;
	font-size: 1.4em;
}

#calendarRegisterEvent
{
	width:50%;
	margin: 10px auto 0 auto;	
}
