@CHARSET "ISO-8859-1";

.day-number
{
	position: relative;
	min-height:100px;
	min-width:160px;

}

.calendar-day
{
	clear:both;
	border: 1px solid black;
}

.calendar-day :hover
{
	background:#FFA;
}

.event_p
{
	font-size:14px;
	margin:0px; padding:0px;
}
.eventAdd_btn
{
	/*Align to bottom right corner*/
	position: absolute;
	bottom: 0;
	right: 0;
}

#calendarRegisterEvent
{
	width:50%;
	margin: 0 auto;	
}
 