@CHARSET "ISO-8859-1";

.day-number
{
}

.calendar-day
{
	border: 1px solid black;
	min-width:10px;
	min-height:10px;
	max-height:100px;	
}

.calendar-day :hover
{
	background:#FFA;
}

.event_p
{
	font-size:14px;
	margin:0px; padding:0px;
}