.guestbookPost
{
	border: 1px solid #AAA;
	border-radius: 4px;
	margin: 5px 0px;
}

.guestbookHeader
{
	padding: 7px 7px 0px 7px;
	background-color: #dbf5fc;
	border-bottom: 1px solid #DDD;
}

.guestbookName
{
	font-weight: bold;
}

.guestbookDate
{
	margin-right: 3px;
	font-size: smaller;
	float: right;
}

.guestbookText
{
	display: block;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
	font-weight: normal;
    line-height: 1.2;
    word-break: break-all;
    word-wrap: break-word;
	padding: 7px;
	margin: 0px;
}