header
{
	background-color: #f8f8f8;
}

.navbar
{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-form
{
	margin-top: 14px;
}

.navbar-collapse
{
	border: 0;
}

.nav>li>a 
{
    padding: 22px;
}

@media (min-width: 1260px)
{
    .navbar
	{
        width: 1230px;
    }
}

/*--know what tab that is in use-- */
header#index a#index-,
header#news a#news-,
header#guestbook a#guestbook-,
header#calendar a#calendar-,
header#about a#about-,
header#admin a#admin-{
background-color:#e7e7e7;
}

.navbarCustom
{
	min-height: 60px;
	border-radius:0;
	border: 0px;
	font-size: 1.6em;
	padding-right: 1px;
	padding-left: 1px;
}

.navbar-brand
{
	padding: 0;
}

.menu_a
{
	padding-left:1%;
	font-size:1.4em;
	padding:2%;
	border:1px solid transparent;
	color:#FFF;
}

.menu_a:hover
{
	border:1px solid black;
	display: inline-block;
	background-color: #5F6975;
	border-radius: 10px;
}

.loginForm
{
	float:right;
	font-size: 14px;
	margin: 0px;
}

.loginGroup
{
	display: inline-block;

}

.loginGroup .btn-primary
{
	margin-top: 1px;
	padding: 2px 10px;
	font-size: 14px;
}

.inputGroup
{
	display: block;
	margin: 3px;
}

.loginIcon
{
	display: inline-block;
	width: 30px;
	height: 26px;
	padding: 0px 8px;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-right: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.loginField
{
	display: inline-block;
	width: 170px;
	height: 26px;

	padding: 0px 12px;
	vertical-align: middle;
	color: #555;
    background-color: #fff;
	border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

#login
{
	float:right;
	padding:5px;
}

#pageLogo
{
	float:left;
	padding:5px;
	width: 75%;
}

#title
{
	font-size:300%;
	margin-top:0px;
	margin-bottom:-10px;
}

#subtitle
{
	margin-top:0px;
}