#div_articles
{
	clear:both;
	overflow:auto;
	width:100%;
}


/************************/
/****#side_article*******/
/************************/
#side_article
{
	min-height:700px;	
}
#side_article p
{
    width:100%;
	margin:1%;
	padding-left:1%;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	
}

#side_article a
{
    text-decoration:none;
    color:black;
    outline:0;
}

.sidebarHeader
{
	padding: 7px 7px 0px 7px;
	background-color: #dbf5fc;
}
.sidebarTitle
{
	font-weight: bold;
}
.sidebarDate
{
	font-size: smaller;
	float: right;
}
.sidebarText
{
	font-weight: normal;
	margin-left: 7px;
}
.sidebar
{
	border: 1px solid #AAA;
	border-radius: 4px;
	margin: 5px 0px;
}
.sidebar:hover
{
	background:#FFA;
}
.sidebar:active
{
	background:#dbf5fc;
}

.NewsContent_p
{

}

/************************/
/****singeArticle*******/
/************************/
 #singeArticle
{
	background:white;
} 
#singeArticle p
{
	margin:2%;
	font-family: Arial, Helvetica, sans-serif;/*???*/
	
}
#singeArticle h3
{
	text-align:center;
}
#form_addNew
{
	border:1px solid black;
	float:right;
	margin-top:4%;
	margin-right:4%;
	width:80%;
	padding:2%;
}
#btn_addnew
{
	width:20% !important;
}
#form_addNew input, textarea
{
	width:90%;
}
#article_remove:hover
{
	text-decoration: underline;
}
