/*************************************/
/* Import stylesheet*/
/*************************************/
@import url("news.css");
@import url("calendar.css");

/*************************************/
/* Static style for whole page */
/*************************************/
html
{
 	margin:0;
	padding:0;

}

body
{
	overflow-y:scroll;
	background:url("../img/bg.JPG");
	margin:1%;
	margin:auto;
	min-height:700px;
	border-bottom:1px solid black; /*added to be able to see where the body are */
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*color:#1e3948;*/
}
.b{
    background:#FFFFFF;
    border: 1px solid #d3e0e9;
    margin-top: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
main {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}
@media (min-width: 768px) {
    main {
        width: 750px;
    }
}
@media (min-width: 992px) {
    main {
        width: 990px;
    }
}
@media (min-width: 1260px) {
    main {
        width: 1230px;
    }
}

a
{
	text-decoration:none;
}

#top
{

}

/*--know what tab that is in use-- */
header#index a#index-,
header#news a#news-,
header#guestbook a#guestbook-,
header#calendar a#calendar-{
background-color:#e7e7e7;
}


#nav_header
{
	height: 40px;
	width:60%;
	padding-top:1%;
	padding-left:10%;
	background:#808080;
	display:inline-block;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
.navbarCustom
{
	border-radius:0;
	font-size: 1.3em;
}

.navbar-brand
{
	padding: 0;
}


.menu_a
{
	padding-left:1%;
	font-size:1.4em;
	padding:2%;
	border:1px solid transparent;
	color:#FFF;
}

.menu_a:hover
{
	border:1px solid black;
	display:blocks;
	background-color: #5F6975;
	border-radius: 10px;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #7A991A;
}*/
#login_submit
{

}

#form_login
{
	
}

#login
{
	float:right;
	padding:5px;
}

#banner
{
	height:85px;
	font-family:Calibri, Verdana, Sans Serif;
}

#bthLogo
{
	float:left;
	padding:5px;
	width: 70%;
}

#title
{
	font-size:300%;
	margin-top:0px;
	margin-bottom:-10px;
}

#subtitle
{
	margin-top:0px;
}
.start_wrapper
{
	width:100%;
	border:1px solid black;
}
.start_news, #start_gb
{
	width:60%;
	padding-left:1%;
}
.start_register
{
	width:38%;
	float:right;
	border:1px solid black;
}
.index_news
{
	margin-bottom:1%;
	margin-left:1%;


	/*font-family: "helvetica", Arial, sans-serif;*/
}

/******User page *****/
.form_addUser
{
	border:1px solid black;
	padding:1%;
	width:40%;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;	
}

.form_addUser label
{
	display: inline-block;
	width:100px;
	text-align: left;
}
.form_addUser, input{margin-bottom:1%; }
/******ERROR*******/
.youShallNotPassDiv
{
	
	text-align:center;
	padding:5px 0px 0px 0px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	width:30%;	
}

.youShallNotPassDivP
{

}
.youShallNotPassDivP p
{
	margin: 0;
    padding: 0;
}

.error
{
		color: red;
}

/***Footer****/
footer {
	bottom:0;
}
/******Extra****/
.clearLine {
    border: 1px solid red;
    clear: left;
}
.clearFix {
    overflow: auto;
}

q{
	background:#FFFFFF;
	border: 1px solid #d3e0e9;
	margin-top: 10px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	width:100%;

}
.visible-xs-block
{
	display:block!important;
}
