
#div_header
{
	
}

#nav_header
{
	width:50%;
	padding-left:10%;
	float:left;
	background:green;
}
.menu_a
{
	padding-left:1%;
}

/*************************************/

#login_submit
{

}

#form_login
{
}

#div_login
{
	float:right;
}